---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
---

<Layout heading="Champions 👑" title="Welcome to Astro.">
	<div class="flex flex-col gap-8">
		<Card>
			<div class="flex flex-col flex-[1] p-4">
				<h2 class="text-lg font-semibold">2016 - Brian A. (1)</h2>
				<p class="text-sm">The OG. A real pioneer. The George Washington of Shoveltoss, if you will.</p>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col flex-[1] p-4">
				<h2 class="text-lg font-semibold">2017 - Alex E. (1)</h2>
				<p class="text-sm">An absolute force. A legendary performance with coaching by the mastermind Joe.</p>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col sm:flex-row">
				<div class="flex flex-col flex-[1] p-4">
					<h2 class="text-lg font-semibold">2018 - Max V. (1)</h2>
					<p class="text-sm">Winning in the sloppiest conditions on record make his success only more impressive.</p>
				</div>
				<div class="flex flex-[1] overflow-hidden p-2">
					<img src="https://res.cloudinary.com/shoveltoss-com/image/upload/v1630213818/shoveltoss.com/dc278719-609f-4a28-9c96-3df8cfae1ea0.jpg" />
				</div>
			</div>
		</Card>
		<Card direction="row">
			<div class="flex flex-col sm:flex-row">
				<div class="flex flex-col lg:flex-col flex-[1] p-4">
					<h2 class="text-lg font-semibold">2019 - Phil D. (1)</h2>
					<p class="text-sm">Inaugural champion of the newest Shoveltoss venue. Second win for coach Joe. </p>
				</div>
				<div class="flex flex-[1] max-h-[285px] overflow-hidden p-2">
					<img class="w-full object-cover object-center" src="https://res.cloudinary.com/shoveltoss-com/image/upload/v1630898121/shoveltoss.com/5738b77dcfad401e85ff70b877f35bf8_k2isey.jpg" />
				</div>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col flex-[1] p-4">
				<h2 class="text-lg font-semibold">2021 - Nick P (1)</h2>
				<p class="text-sm">First champion in the post-COVID era. Myocarditis and lung scarring are no match for a real champ.</p>
			</div>
		</Card>
		<Card direction="row">
			<div class="flex flex-col sm:flex-row">
				<div class="flex flex-col flex-[1] p-4">
					<h2 class="text-lg font-semibold">2023 - Nick P. (2)</h2>
					<p class="text-sm">Our first back to back champion. Chuggo is too nasty with it.</p>
				</div>
				<div class="flex flex-[1] max-h-[285px] overflow-hidden p-2">
					<img class="w-full object-cover object-center" src="https://res.cloudinary.com/shoveltoss-com/image/upload/v1699066023/shoveltoss.com/IMG_4400_bewhqj.png" />
				</div>
			</div>
		</Card>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
