---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
---

<Layout heading="Champions 👑" title="Welcome to Astro.">
	<div class="space-y-6">
		<Card>
			<div class="flex flex-col flex-[1] space-y-2 p-4">
				<h2 class="text-lg font-semibold">2016 - Brian A. (1)</h2>
				<p class="text-base text-[--color-fg-muted]">The OG. A real pioneer. The George Washington of Shoveltoss, if you will.</p>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col flex-[1] space-y-2 p-4">
				<h2 class="text-lg font-semibold">2017 - Alex E. (1)</h2>
				<p class="text-base text-[--color-fg-muted]">An absolute force. A legendary performance with coaching by the mastermind Joe.</p>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col sm:flex-row">
				<div class="flex flex-col flex-[1] space-y-2 p-4">
					<h2 class="text-lg font-semibold">2018 - Max V. (1)</h2>
					<p class="text-base text-[--color-fg-muted]">Winning in the sloppiest conditions on record make his success only more impressive.</p>
				</div>
				<div class="aspect-[4/3] flex-[1] overflow-hidden">
					<img class="h-full w-full object-cover" src="https://res.cloudinary.com/shoveltoss-com/image/upload/v1630213818/shoveltoss.com/dc278719-609f-4a28-9c96-3df8cfae1ea0.jpg" />
				</div>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col sm:flex-row">
				<div class="flex flex-col flex-[1] space-y-2 p-4">
					<h2 class="text-lg font-semibold">2019 - Phil D. (1)</h2>
					<p class="text-base text-[--color-fg-muted]">Inaugural champion of the newest Shoveltoss venue. Second win for coach Joe. </p>
				</div>
				<div class="aspect-[4/3] flex-[1] overflow-hidden">
					<img class="h-full w-full object-cover object-center" src="https://res.cloudinary.com/shoveltoss-com/image/upload/v1630898121/shoveltoss.com/5738b77dcfad401e85ff70b877f35bf8_k2isey.jpg" />
				</div>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col flex-[1] space-y-2 p-4">
				<h2 class="text-lg font-semibold">2021 - Nick P (1)</h2>
				<p class="text-base text-[--color-fg-muted]">First champion in the post-COVID era. Myocarditis and lung scarring are no match for a real champ.</p>
			</div>
		</Card>
		<Card>
			<div class="flex flex-col sm:flex-row">
				<div class="flex flex-col flex-[1] space-y-2 p-4">
					<h2 class="text-lg font-semibold">2023 - Nick P. (2)</h2>
					<p class="text-base text-[--color-fg-muted]">Our first back to back champion. Chuggo is too nasty with it.</p>
				</div>
				<div class="aspect-[4/3] flex-[1] overflow-hidden">
					<img class="h-full w-full object-cover object-center" src="https://res.cloudinary.com/shoveltoss-com/image/upload/v1699066023/shoveltoss.com/IMG_4400_bewhqj.png" />
				</div>
			</div>
		</Card>
	</div>
</Layout>
