---
import Layout from '@layouts/Layout.astro';
import images from '@public/images.json';
import { cld, srcset } from '../lib/cloudinary';

const gallery = images.shop;
---

<Layout heading="Merch 🧢" title="Welcome to Astro.">
	<div class="grid gap-6 sm:grid-cols-2">
		{
			gallery.map((image: string) => {
				return (
					<img
						src={cld(image, { w: 800 })}
						srcset={srcset(image, [400, 800, 1200])}
						sizes="(min-width: 640px) 50vw, 100vw"
						height="800"
						width="800"
						alt="merch"
						loading="lazy"
						decoding="async"
						class="w-full rounded-md"
					/>
				)
			})
		}
	</div>
</Layout>
