---
import Layout from '@layouts/Layout.astro';
import ImageTile from '@components/ImageTile.astro';
import images from '@public/images.json';

const gallery = images.shop;
---

<Layout heading="Merch 🧢" title="Welcome to Astro.">
	<div class="grid gap-6 sm:grid-cols-2">
		{
			gallery.map((image: string) => {
				return (
					<ImageTile src={image} alt="Merch" aspect="1:1" />
				)
			})
		}
	</div>
</Layout>
