---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import goldenShovel from '/public/golden-shovel.png';

interface Props {}

const {} = Astro.props;
---

<Layout heading="Rules 📒" title="Rules 📒">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row sm:gap-20">
      <div class="flex flex-col sm:pl-8">
        <h2 class="text-xl font-semibold underline">How to Win</h2>
        <ul class="gap-1">
          <li class="text-sm sm:text-base">First to 15 wins.</li>
          <li class="text-sm sm:text-base">3 points awarded for a <span class="italic">shovel stick</span>.</li>
          <li class="text-sm sm:text-base">2 points awarded for a shovel leaning against the back wall.</li>
          <li class="text-sm sm:text-base">1 point awarded for the shovel lying fully in the garden.</li>
          <li class="text-sm sm:text-base">0 points are awarded if the shovel is touching any part of the front wall.</li>
          <li class="text-sm sm:text-base">-2 points if the shovel lands completely outside of the garden.</li>
        </ul>
      </div>
      <div class="invisible w-0 sm:w-auto sm:visible">
        <Image alt="golden shovel" height="100" width="100" src={goldenShovel} />
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col gap-1 sm:pl-8">
        <h2 class="text-xl font-semibold underline">Gameplay</h2>
        <div>
          <h2 class="text-lg">Determine The Order</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            A game of rock-paper-scissors is held. The winner selects if they would like to go first or second.
          </p>
        </div>
        <div>
          <h2 class="text-lg">Inning</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            Each person receives a toss in an inning in the order the match begins until one of the players reach 15. The inning is still completed if the first person to toss reaches 15 (exactly). It is important to announce the score after every inning.
          </p>
        </div>
        <div>
          <h2 class="text-lg">Going Over</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            If a player goes over 15 points the number of points they exceeded 15 by gets subtracted from 15 and becomes their point total. (Ex. Player hits 17, 2 over 15, so 15-2 = 13. Their score is now 13).
          </p>
        </div>
        <div>
          <h2 class="text-lg">Redemption</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            If at the end of an inning, one contestant hits 15 points (exactly) the other player gets a redemption shot. If they stick the shovel in the garden, they receive an additional throw until they reach 15 points (exactly) or fail to stick the shovel in the garden.
          </p>
        </div>
        <div>
          <h2 class="text-lg">Overtime</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            Occurs if both players hit exactly 15 either during regulation or with redemption.
          </p>
        </div>
        <div>
          <h2 class="text-lg">Determine the Order</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            The first player who hit 15 gets to choose if they would like to go first or second.
          </p>
        </div>
        <div>
          <h2 class="text-lg">Play</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            Players receive three alternating throws. The highest score after those three throws wins. If there is a tie the OT goes into sudden death.
          </p>
        </div>
        <div>
          <h2 class="text-lg">Sudden Death</h2>
          <p class="text-sm sm:text-base pl-2 border-l">
            Each player throws a shovel to stick. The first player to stick their shovel in the garden without the other player completing a stick wins.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  li {
    max-width: 75vw;
    margin: 4px 0px;
  }
</style>