<div class="link-card relative list-none rounded-[7px] bg-[#23262d] bg-[position:100%] bg-[length:400%] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] transition-[background-position] duration-[600ms] ease-[cubic-bezier(0.22,1,0.36,1)]">
	<slot />
</div>
