<div class="flex flex-row justify-center gap-2 text-sm sm:text-base sm:gap-4 m-1">
  <a class="no-underline! hover:underline!" href="/">Home</a>
	<a class="no-underline! hover:underline!" href="/rules">Rules</a>
  <a class="no-underline! hover:underline!" href="/gallery">Gallery</a>
  <a class="no-underline! hover:underline!" href="/champions">Champions</a>
  <a class="no-underline! hover:underline!" href="/merch">Merch</a>
	<a class="no-underline! hover:underline!" href="https://maxrickettsuy.github.io/shoveltoss-game/" target="_blank" rel="noopener noreferrer" class="">
		Game 🔗
	</a>
</div>
